/* CSS da Home page */
.container{
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container img{
    width: 80%;
    height: 500px;
}

.container p{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.container span {
    color: var(--terceary);
}

.btn{
    width: 200px;
    height: 40px;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-purple{
    background-color: var(--terceary);
    color: var(--white);
}

.btn-purple:hover{
    background-color: var(--primary);
}